.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;

  background-color: var(--primary);
  color: var(--white);
  padding: 25px 30px;
}

.footer p {
  margin: 0;
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
