.tag {
  display: inline-block;
  box-sizing: border-box;

  margin-right: 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.s {
  font-size: 12px;
  line-height: 10px;
}

.m {
  font-size: 14px;
  line-height: 15px;
}

.ghost {
  background-color: transparent;
  border: 1px solid var(--gray-light);

  font-weight: 500;
}

.red {
  background-color: #de0000;
  color: var(--white);
  font-weight: 600;
}

.grey {
  background-color: #b3c0d9;
  font-weight: 600;
  color: var(--white);
}

.green {
  background-color: var(--green-light);
  font-weight: 700;
  color: var(--green);
}

.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: 500;
}
